body {
    background-color: #f3f3f3;
    font-family: arial;
}

.article-container {
    width: 900px;
    background-color: #fff;
    padding: 30px;
}

.article-box {
    width: 100%;
    background-color: rgb(202, 199, 199);
    padding: 10px 0px 0px 20px;
}

form {
    text-align: center;
}

input {
    padding: 0px 20px;
    width: 300px;
    height: 40px;
    font-size: 22px;
}

button {
    width: 100px;
    height: 44px;
    font-size: 22px;
}